---
layout: default
title: Become a Sponsor
section_id: services
services_left:
  - icon: film
    title: Live and Recorded Event Content
    desc: Not only is this a challenging and fun live event, but the content is continuously available for consumption by a worldwide audience.
  - icon: microphone
    title: Social Media Campaigns
    desc: Continuous social media presence throughout the year including Twitter, LinkedIn, Google Plus and Facebook sharing of event and sponsor content.
services_right:
  - icon: database
    title: Brand Exposure
    desc: Online presence through dedicated web presence including sponsor web pages, mentions during live events, and more. 
  - icon: group
    title: Community Growth
    desc: Build your brand with our growing community as we bring focus to great technologists and continue to expand with powerful collaborative opportunities. 
---

<div class='full parallax' style='background-image: url(images/sponsor-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Become a Sponsor" tagline="Support the Virtual Design Master Community" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
  <div>
    <p align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeW85As_ev4gTPgjN3amBnlDL29C7nSFaMcSk8jcxZTRzt1mA/viewform?embedded=true" width="100%" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </p>
  </div>
</div>