---
layout: default
title: Portfolio
section_id: portfolio

challenges:
  - image: images/design-400.png
    title: Design
    link_to: challenge-item-design.html
    klass: graphi-design
    desc: Design
  - image: images/protect-400.png
    title: Protect
    link_to: challenge-item-protect.html
    klass: graphi-design
    desc: Protect
  - image: images/orchestrate-400.png
    title: Orchestrate
    link_to: challenge-item-orchestrate.html
    klass: graphi-design
    desc: Orchestrate
  - image: images/deploy-400.png
    title: Deploy
    link_to: challenge-item-deploy.html
    klass: graphi-design
    desc: Deploy
---


<div class='full parallax' style='background-image: url(images/challenge-bg-protect.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Protect" tagline="Design Resiliency" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <!--<div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-1.jpg" />
          </div>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-2.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class='row'>
    <div class='large-8 columns'>
      <h3>Protect</h3>
      <p>
        Designs are in, and the judges put the participantes to the test at this point.  Designers have had to justify architectural decisions that have gotten them to the second phase of the competition.  This is where the competition starts to get even more tough.
        <br /><br />
        Does your design stand up to physicial difficulties?  Perhaps an all around disaster?  This is where things begin to get even more interesting as participants must illustrate how they can adapt to challenges within the original designs. 
        <br /><br />
        Who knows, what could happen at this point.  You may even find yourself building out resiliency in someone else's design.  That's what it takes to be a Virtual Design Master.
      </p>

    <div class="mod modGallery">
      <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for challenge in page.challenges %}
          <li class="{{ challlenge.klass }}">
            <a href='{{ challenge.link_to }}'>
              <img alt="" src="{{ challenge.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ challenge.title }}</h3>
                  <p>{{ challenge.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='spacing'></div>
      <a class='button small' href='index.html'>Back Home</a>
    </div>
    <!--<div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Client:</strong>
          themeforest
        </li>
        <li>
          <strong>Date:</strong>
          June 2013
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='portfolio.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>-->
  </div>
  <div class='four spacing'></div>
</div>