---
layout: default
title: Portfolio
section_id: portfolio

challenges:
  - image: images/design-400.png
    title: Design
    link_to: challenge-item-design.html
    klass: graphi-design
    desc: Design
  - image: images/protect-400.png
    title: Protect
    link_to: challenge-item-protect.html
    klass: graphi-design
    desc: Protect
  - image: images/orchestrate-400.png
    title: Orchestrate
    link_to: challenge-item-orchestrate.html
    klass: graphi-design
    desc: Orchestrate
  - image: images/deploy-400.png
    title: Deploy
    link_to: challenge-item-deploy.html
    klass: graphi-design
    desc: Deploy
---


<div class='full parallax' style='background-image: url(images/challenge-bg-deploy.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Deploy" tagline="The Final Challenge" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>



<div class='full'>
  <!--<div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-1.jpg" />
          </div>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-2.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class='row'>
    <div class='large-8 columns'>
      <h3>Deploy</h3>
      <p>
        This is the final challenge.  The participants have put themselves through incredible amounts of efforts up to this point.  Making it here is a sign that your skills and execution have helped you stand above the crowd in this very dynamic and challenging competition.
        <br /><br />
        The Virtual Design Master finalists are ready to test themselves in the ultimate no holds barred, no way out challenge.  Deploying a live environment on real infrastructure in a timeline that would challenge the best in the business is just the start.  
        <br /><br />
        Not only do our finalists have to put together a live, working environment and give over the keys to the judges to pore over to pick out every detail, but they have to do it and give their designs and decisions in one final defense in front of the judges. 
      </p>

    <div class="mod modGallery">
      <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for challenge in page.challenges %}
          <li class="{{ challlenge.klass }}">
            <a href='{{ challenge.link_to }}'>
              <img alt="" src="{{ challenge.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ challenge.title }}</h3>
                  <p>{{ challenge.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='spacing'></div>
      <a class='button small' href='index.html'>Back Home</a>
    </div>
    <!--<div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Client:</strong>
          themeforest
        </li>
        <li>
          <strong>Date:</strong>
          June 2013
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='portfolio.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>-->
  </div>
  <div class='four spacing'></div>
</div>