---
layout: default
title: Judges
section_id: portfolio
works:
  - image: https://twitter.com/josh_atwell/profile_image?size=original
    title: Josh Atwell
    link_to: https://twitter.com/josh_atwell
    klass: season1
    desc: Season 1
  - image: https://twitter.com/jfrappier/profile_image?size=original
    title: Jonathan Frappier
    link_to: https://twitter.com/jfrappier
    klass: season2 season3
    desc: Season 2 &amp; 3
  - image: https://twitter.com/texiwill/profile_image?size=original
    title: Edward Haletky
    link_to: https://twitter.com/texiwill
    klass: season4
    desc: Season 4
  - image: https://twitter.com/bckirsch/profile_image?size=original
    title: Brian Kirsch
    link_to: https://twitter.com/bckirsch
    klass: season2 season3
    desc: Season 2 &amp; 3
  - image: https://twitter.com/andrea_mauro/profile_image?size=original
    title: Andrea Mauro
    link_to: https://twitter.com/Andrea_Mauro
    klass: season2
    desc: Season 2
  - image: https://twitter.com/josh_odgers/profile_image?size=original
    title: Josh Odgers
    link_to: https://twitter.com/josh_odgers
    klass: season2 season3
    desc: Season 2 &amp; 3
  - image: https://twitter.com/awschamp/profile_image?size=original
    title: Timothy Patterson
    link_to: ​​​​https://twitter.com/awschamp
    klass: season3
    desc: Season 3
  - image: https://twitter.com/maishsk/profile_image?size=original
    title: Maish Saidel-Keesing
    link_to: https://twitter.com/maishsk
    klass: season2
    desc: Season 2
  - image: https://twitter.com/byronschaller/profile_image?size=original
    title: Byron Schaller
    link_to: https://twitter.com/byronschaller
    klass: season3
    desc: Season 3
  - image: https://twitter.com/vcdx133/profile_image?size=original
    title: Rene Van Den Bedem
    link_to: https://twitter.com/vcdx133
    klass: season3 season4
    desc: Season 3 &amp; 4
  - image: https://twitter.com/chriswahl/profile_image?size=original
    title: Chris Wahl
    link_to: https://twitter.com/ChrisWahl
    klass: season1 
    desc: Season 1
---


<div class='full parallax' style='background-image: url(images/sponsor-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Judges" tagline="Judging panelists of the Virtual Design Master" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='season1' href='#'>Season 1</a>
          </li>
          <li>
            <a data-cat='season2' href='#'>Season 2</a>
          </li>
          <li>
            <a data-cat='season3' href='#'>Season 3</a>
          </li>
          <li>
            <a data-cat='season4' href='#'>Season 4</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>