---
layout: default
title: Participants
section_id: portfolio
works:
  - image: images/@stock/work-1.jpg
    title: Participant Name
    link_to: portfolio-item.html
    klass: season1
    desc: 
  - image: images/@stock/work-7.jpg
    title: Participant Name
    link_to: 
    klass: season2
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Participant Name
    link_to: 
    klass: season3
    desc: Design &amp; Development
  - image: images/@stock/work-1.jpg
    title: Participant Name
    link_to: 
    klass: season1 season4
    desc: Design &amp; Development
---


<div class='full parallax' style='background-image: url(images/sponsor-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Participants" tagline="Virtual Design Master Competitors" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='season1' href='#'>Season 1</a>
          </li>
          <li>
            <a data-cat='season2' href='#'>Season 2</a>
          </li>
          <li>
            <a data-cat='season3' href='#'>Season 3</a>
          </li>
          <li>
            <a data-cat='season4' href='#'>Season 4</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>