---
layout: default
title: Participants
section_id: portfolio
works:
  - image: https://twitter.com/do0dzZZ/profile_image?size=original
    title: Abdullah Abdullah
    link_to: https://twitter.com/do0dzZZ
    klass: season3
    desc: Season 3
  - image: https://twitter.com/DaemonBehr/profile_image?size=original
    title: DaemonBehr
    link_to: https://twitter.com/DaemonBehr
    klass: season2
    desc: Season 2
  - image: https://twitter.com/jbcompvm/profile_image?size=original
    title: James Brown
    link_to: https://twitter.com/jbcompvm
    klass: season3
    desc: Season 3
  - image: https://twitter.com/vCloudernbeer/profile_image?size=original
    title: Anthony Chow
    link_to: https://twitter.com/vCloudernbeer
    klass: season2
    desc: Season 2
  - image: https://twitter.com/kellandamm/profile_image?size=original
    title: Kellan Damm
    link_to: https://twitter.com/kellandamm
    klass: season4
    desc: Season 4
  - image: https://twitter.com/sforgosh/profile_image?size=original
    title: Seth Forgosh
    link_to: https://twitter.com/sforgosh
    klass: season2
    desc: Season 2
  - image: https://twitter.com/jfrappier/profile_image?size=original
    title: Jonathan Frappier
    link_to: https://twitter.com/jfrappier
    klass: season1
    desc: Season 1
  - image: https://twitter.com/dennisgeorge/profile_image?size=original
    title: Dennis George
    link_to: https://twitter.com/dennisgeorge
    klass: season3
    desc: Season 3
  - image: https://twitter.com/empiricvirtual/profile_image?size=original
    title: Joel Gibson
    link_to: https://twitter.com/empiricvirtual
    klass: season2
    desc: Season 2
  - image: https://twitter.com/vJoeG/profile_image?size=original
    title: Joe Graziano
    link_to: https://twitter.com/vJoeG
    klass: season1
    desc: Season 1
  - image: https://twitter.com/harezzebra/profile_image?size=original
    title: Harshvardhan Gupta
    link_to: https://twitter.com/harezzebra
    klass: season3 season4
    desc: Season 3 + 4
  - image: https://twitter.com/tom_howarth/profile_image?size=original
    title: Tom Howarth
    link_to: https://twitter.com/tom_howarth
    klass: season2
    desc: Season 2
  - image: images/profileIcon_1.png
    title: Mohamed Ibrahim
    link_to: #
    klass: season3
    desc: Season 3
  - image: https://twitter.com/seanpmassey/profile_image?size=original
    title: Sean Massey
    link_to: https://twitter.com/seanpmassey
    klass: season2
    desc: Season 2
  - image: https://twitter.com/rnelson0/profile_image?size=original
    title: Rob Nelson
    link_to: https://twitter.com/rnelson0
    klass: season2
    desc: Season 2
  - image: https://twitter.com/awschamp/profile_image?size=original
    title: Timothy Patterson
    link_to: https://twitter.com/awschamp
    klass: season2
    desc: Season 2
  - image: https://twitter.com/alexteachestech/profile_image?size=original
    title: Alex Ramirez
    link_to: https://twitter.com/alexteachestech
    klass: season2
    desc: Season 2
  - image: https://twitter.com/byronschaller/profile_image?size=original
    title: Byron Schaller
    link_to: https://twitter.com/byronschaller
    klass: season2
    desc: Season 2
  - image: https://twitter.com/StevenViljoen/profile_image?size=original
    title: Steven Viljoen
    link_to: https://twitter.com/StevenViljoen
    klass: season3
    desc: Season 3
  - image: https://twitter.com/akmal_waheed/profile_image?size=original
    title: Akmal Waheed
    link_to: https://twitter.com/akmal_waheed
    klass: season1
    desc: Season 1
  - image: https://twitter.com/vWilmo/profile_image?size=original
    title: Geoff Wilmington
    link_to: https://twitter.com/vWilmo
    klass: season2
    desc: Season 2
  - image: https://twitter.com/LuboZvolensky/profile_image?size=original
    title: Lubomir Zvolensky
    link_to: https://twitter.com/LuboZvolensky
    klass: season3 season4
    desc: Season 3 + 4
---


<div class='full parallax' style='background-image: url(images/sponsor-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Participants" tagline="Virtual Design Master Competitors" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='season1' href='#'>Season 1</a>
          </li>
          <li>
            <a data-cat='season2' href='#'>Season 2</a>
          </li>
          <li>
            <a data-cat='season3' href='#'>Season 3</a>
          </li>
          <li>
            <a data-cat='season4' href='#'>Season 4</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>