---
layout: default
title: Sponsors
section_id: portfolio
works:
  - image: images/sponsorlogos/sponsor-s1-baremetalcloud
    title: baremetalcloud.com
    link_to: http://baremetalcloud.com
    klass: season1 season2
    desc: Season 1 + 2
  - image: images/sponsorlogos/sponsor-s1-pluralsight
    title: Pluralsight
    link_to: http://www.pluralsight.com
    klass: season1
    desc: Season 1
  - image: images/sponsorlogos/sponsor-s1-radicalio
    title: Radical I/O
    link_to: http://radical.io
    klass: season1
    desc: Season 1
  - image: images/sponsorlogos/sponsor-s2-hpe
    title: HPE
    link_to: http://www.hpe.com
    klass: season2
    desc: Season 2
  - image: images/sponsorlogos/sponsor-s2-ivanpepelnjak
    title: Ivan Pepelnjak - @ioshints
    link_to: http://www.ipspace.net
    klass: season2
    desc: Season 2
  - image: images/sponsorlogos/sponsor-s2-jasonlanger
    title: Jason Langer - @jaslanger
    link_to: http://virtuallanger.com
    klass: season2 season3 season4
    desc: Season 2 + 3 + 4
  - image: images/sponsorlogos/sponsor-s2-renevandenbedem
    title: Rene Van Den Bedem - @vcdx133
    link_to: http://www.vcdx133.com
    klass: season2 season3 season4
    desc: Season 2 + 3 + 4
  - image: images/sponsorlogos/sponsor-s2-veeam
    title: Veeam
    link_to: http://www.veeam.com
    klass: season2
    desc: Season 2
  - image: images/sponsorlogos/sponsor-s2-vmwarepress
    title: VMware Press
    link_to: http://www.vmwarepress.com
    klass: season2
    desc: Season 2
  - image: images/sponsorlogos/sponsor-s2-zerto
    title: Zerto
    link_to: http://www.zerto.com
    klass: season2
    desc: Season 2
  - image: images/sponsorlogos/sponsor-s3-joshodgers
    title: Josh Odgers - @josh_odgers
    link_to: http://joshodgers.com
    klass: season3
    desc: Season 3
  - image: images/sponsorlogos/sponsor-s3-timothypatterson
    title: Timothy Patterson 
    link_to: http://twitter.com/awschamp
    klass: season3 season4
    desc: Season 3 + 4
  - image: images/sponsorlogos/sponsor-s3-vcloudair
    title: vCloud Air
    link_to: http://vcloudair.com
    klass: season3
    desc: Season 3
  - image: images/sponsorlogos/sponsor-s4-koodzo
    title: Koodzo
    link_to: http://blog.koodzo.com
    klass: season4
    desc: Season 4
  - image: images/sponsorlogos/sponsor-s4-stevenviljoen
    title: Steven Viljoen - @stevenviljoen
    link_to: http://twitter.com/stevenviljoen
    klass: season4
    desc: Season 4
  - image: images/sponsorlogos/sponsor-s4-briansuhr
    title: Steven Viljoen - @stevenviljoen
    link_to: http://twitter.com/stevenviljoen
    klass: season4
    desc: Season 4
  - image: images/sponsorlogos/sponsor-s4-vmug.png
    title: VMUG - @MyVMUG
    link_to: http://vmug.com
    klass: season4
    desc: Season 4
  - image: images/sponsorlogos/sponsor-s4-vmturbo
    title: VMTurbo - @vmturbo
    link_to: http://vmturbo.com
    klass: season4
    desc: Season 4
---


<div class='full parallax' style='background-image: url(images/sponsor-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Sponsors" tagline="Supporters of the Virtual Design Master Community" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='season1' href='#'>Season 1</a>
          </li>
          <li>
            <a data-cat='season2' href='#'>Season 2</a>
          </li>
          <li>
            <a data-cat='season3' href='#'>Season 3</a>
          </li>
          <li>
            <a data-cat='season4' href='#'>Season 4</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>